/* body styling */
body {
    background-color: rgb(220, 228, 237);
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    margin: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;  
}

fieldset {
    border-color: black;
}

#field {
    background-color: white;
    padding-bottom: 20px;
    padding: 30px;
}

/* heading styling */
.head, #under-head {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    font-size: x-large;
}

#under-head {
    display: flex;
    font-size: small;
    color: rgb(103, 108, 112);
}

/* text input validation */

input[type="text"]:valid {
    border: solid green 2px;
}

input[type="text"]:invalid {
    border: solid red 2px;
}

/* email input validation */

input[type="email"]:valid {
    border: solid green 2px;
}

input[type="email"]:invalid {
    border: solid red 2px;
}

/* phone input validation */

input[type="tel"]:valid {
    border: solid green 2px;
}

input[type="tel"]:invalid {
    border: solid red 2px;
}

/* select input validation */

select:valid {
    border: solid green 2px;
}

select:invalid {
    border: solid red 2px;
}

/* textbox styling: inputs */

.text-box {
    padding-right: 83px;
}

 /* input styling */

input[type="submit"] {
    display: block;
    border: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(85, 138, 203);
    color: white;
    font-size: large;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    border-radius: 5px;
}

/* legend styling */

legend {
    text-align: center;
    font-size:larger;
}