.dropdown-menu {
    position: absolute;
    z-index: 99;
    display: none;
}
.dropdown:hover .dropdown-menu {
    display:block;
}
.dropdown {
    transition-property: 0.5s;
}
li {
    display: inline;
}
h1 {
    text-align: center;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    margin: 5px;
}
a {
    text-decoration: none;
}
a:hover {
    letter-spacing: 1px;
    text-decoration: blue;
    text-decoration: underline;
}
body {
    background-color: rgb(238, 225, 208);
    margin: 0px;
}
main {
    background-color: rgb(231, 185, 185);
    padding: 20px;
       border: 7px solid rgb(148, 52, 62);
}
nav {
    position: sticky;
    top:0px;
    padding: 0px;
}
section {
    padding: 20px;
}
h1 {
    font-size: xx-large;
}