/* font style link  */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* header/font style */

.site-hero {
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: rgb(254, 249, 249);
}

h1 {
    font-family: "Lobster";
}

/* caption styling */

.captions, h2 {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 3px 3px 3px #e1a177;
}

.captions:hover {
    text-decoration:underline;
    color: #000000;
    text-shadow:none;
}

/* button styling */

/* button[type="button"] {
    background-color: aliceblue;
    border-color: rgb(170, 170, 196);
    border: 1.5px solid rgb(125, 125, 174);
    color:rgb(0, 0, 0);
    margin: 3vh;
} */

/* caruosel styling */

/* .carousel-item img {
    height: 100%;
    object-fit: fill;
}
.carousel-item {
    height: 800px;
}
.carousel-inner {
    margin-top: 20px;
    width: 800px;
}
#slide {
    padding-top: 10px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

#lemon {
    object-fit: contain;
    width:fit-content;
    width: 900px;
} */

/* button styling */ 
/* 
#collaspe-button {
    display: flex;
    justify-content: center;
} */

/* nav styling */

nav, p, h6, h5, li, figcaption {
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: sticky;
    margin: 0; 
}

.nav-item dropdown {
    position: absolute;
    z-index: 99;
    display: none;
    padding: 10px;
    color: white;  
}

.navbar-brand {
    width: 5%;
    height: auto;
   
}
  
.navbar-brand svg {
    margin-right: 0px;
}

/* drop down styling */

.dropdown:hover .dropdown-menu {
    display:block;
    color: #e1a177; 
}

.dropdown {
    transition-property: 0.5s;
}

/* footer styling */

.footer-left li:hover {
    text-decoration: underline;
    color: #e1a177;
}

.content-container img {
    border: #000000 solid 0.5px;
    border-radius: 5%;
}

.content-header:hover {
    color: #e1a177;
    text-decoration: underline; 
}

.footer-feet:hover {
    color: #e1a177;
}

/* img styling image grid & carousel */

.img-edit {
    height: 20vh;
}

.img-edit img {
    height: 100%;
}

.img-fix {
    width: 80vh;
    height: 80vh;
}

.img-fix img {
    width: 100%;
}
