/* logo styling */

nav {
    display: flex;
    justify-content: flex-start;
    height: auto;
}

#logo {
    width: auto;
    margin-left: 400px;
    height: 90px;
    padding: 30px;
}

/* text field styling */

#type {
    position: absolute;
    top: 48px;
    right: 0; 
    margin-left: auto;
    margin: 0;
} 

button {
    padding: 30px;
    border-radius: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
    text-align: center;
    margin-right: 400px;
}

select {
    margin-right: 25px;
    padding: 30px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    text-align: center;
}

/* header styling */

header {
    margin-left: auto;
    margin-right: auto;
    background-size: 170px;
    height: 80vh;
    width: auto;
    background-size:contain;
    background: linear-gradient(black, transparent, black), url("../assets/images/netflix_bg.jpeg"); 
    border-bottom: 7px solid rgb(36, 35, 35);
}

#sec {
    margin-top: 170px;
    transform: scale(1.6);
} 


#sec h1 {
    inline-size: 375px;
    overflow-wrap: break-word;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#sec input[type=submit] {
    background-color: red;
    border-radius: 1px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: larger;
    text-align: center;
}

#sec input[type=email] {
    border-radius: 1px;
    border: none;
    width: 100px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: left;
}

/* form styling */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* body styling */ 

body {
    margin: 0;
    background-color: black;
}

/* grid styling */

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* footer styling */

footer a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    margin: 20px;
}

footer a:hover {
    text-decoration: underline;
}

#foot {
    display: flex;
    margin: 100px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
}



